<div class="accordion" id="accordionPanelsStayOpenExample" style="margin-top: 50px;">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Anime recommendation #3
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
            <div class="card mx-4" style="width: 18rem;">
                <img src="/assets/MHA.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">My Hero Academia</h5>
                  <p class="card-text">Izuku Midoriya is a boy who wishes to become a hero just like his idol, All Might, however lacking a Quirk makes the dream feel impossible, and makes him an easy target for bullying, like from his childhood friend, Katsuki Bakugo. However, after an incident where Izuku meets All Might, he proves himself worthy of becoming a hero, and is chosen as All Might's successor to inherit his Quirk, One For All, which allows him to get accepted to U.A. High School, and learn how to become a true hero.</p>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Watch
                  </button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Watch My Hero Academia</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                                    <div class="modal-body">
                                         Do you want to watch My Hero Academia?
                                    </div>
                            <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <a href="https://animixplay.sc/anime/my-hero-academia-season-6/" class="btn btn-primary">Watch</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>