<div class="accordion" id="accordionPanelsStayOpenExample" style="margin-top: 50px;">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Anime recommendation #1
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
            <div class="card mx-4" style="width: 18rem;">
                <img src="/assets/kuroko.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Kuroko's Basketball</h5>
                  <p class="card-text">The Teiko Middle School Basketball Team. The school that produced three perfect seasons in a row, with five once-in-a generation players, called "The Generation of Miracles." There was another player who all of them respected... A legendary 6th player. An up-and-coming power player, Taiga Kagami, is just back from America. When he comes to Seirin High School, he meets the super-ordinary boy, Tetsuya Kuroko. Kagami is shocked to find that Kuroko isn't good at basketball, in fact, he's bad! And he's so plain that he's impossible to see. But Kuroko's plainness lets him pass the ball around without the other team noticing him, and he's none other than the sixth member of the Miracle Generation. Kuroko makes a pact with Kagami to defeat the other members of the Miracle Generation, who have all played basketball at other schools. A battle of light (Kagami) and shadow (Kuroko) begins!.</p>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Watch
                  </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Watch Kuroko's Basketball</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                        <div class="modal-body">
                                             Do you want to watch Kuroko's Bsketball?
                                        </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <a href="https://animixplay.sc/anime/kuroko-no-basket-3rd-season/" class="btn btn-primary">Watch</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>